@model CineRating.Models.IndexViewModel
@{
    ViewBag.Title = "Perfil";
}

<h2>Perfil</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Mudar password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Pick a password", "SetPassword")
            }
        </p>
        <div>
            @Html.Action("Details", "Utilizadores", new { id = Session["userID"] })
        </div>
    </div>
</div>
