@{
    ViewBag.Title = "About";
}

<h2>Informações Úteis</h2>
<br />

<div class="row-fluid">
    <p>Rafael Santos Martins</p>
    <p>Nº:19076</p>
    <p>Licenciatura em Engenharia Informática</p>
    <p>2017/2018</p>
    <p>Tecnologias de Informação II</p>
    <br />
    <br />
    <div style="display:flex; flex-direction:row; flex-wrap:wrap;">
        <div style="margin-right:15px;">
            <p> User:</p>
            <span> Password:</span>
        </div>
        <div style="margin-right:15px;">
            <p style="font-weight:bold;">admin@mail.com</p>
            <span style="font-weight:bold;">Aa_12345</span>
        </div>
        <div style="margin-right:15px;">
            <p style="font-weight:bold;">gestor@mail.com</p>
            <span style="font-weight:bold;">Aa_12345</span>
        </div>
        <div style="margin-right:15px;">
            <p style="font-weight:bold;">utilizador@mail.com</p>
            <span style="font-weight:bold;">Aa_12345</span>
        </div>
    </div>
</div>