@model IEnumerable<CineRating.Models.Atores>

@foreach (var item in Model) {
    <div class="filmesImg">
        <a href="@Url.Action("Details", "Atores", new { id = item.ID })">
            <img src="~/imagens/atores/@item.Imagem" height="100" />
        </a>
    </div>
}
