@model IEnumerable<CineRating.Models.Atores>

@*@{
        ViewBag.Title = "Index";
    }*@


@using (Html.BeginForm()) {
    <div style="text-align:center">
        @Html.TextBox("pesq", "", new { @id = "nomeAtor", @autocomplete = "off", @placeholder = "Pesquisar Atores", style = "width:500px; height:35px; max-width:none;" })
        <input type="submit" class="btn btn-default" value="Pesquisar" style="display:none;" />
    </div>
}



<div style="display:flex; flex-direction:row; flex-wrap:wrap;">
    @foreach (var item in Model) {
        <div style="text-align:center; width:200px;">
            <br />
            <p>@Html.DisplayFor(modelItem => item.Nome)</p>
            <a href="@Url.Action("Details", "Atores", new { id = item.ID })">
                <div style="text-align:center; width:200px; height:200px;">
                    <img src="~/imagens/atores/@item.Imagem" style="margin:15px; height:180px; width:130px; object-fit:cover; " />
                </div>
            </a>
        </div>
    }
</div>



<link href="~/Content/themes/base/jquery-ui.css"
      rel="stylesheet"
      type="text/css" />


@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#nomeAtor').autocomplete({
                source: '/Atores/GetAtores'
            });
        });
    </script>
}

