@model IEnumerable<CineRating.Models.Filmes>

@foreach (var item in Model) {
<div class="filmesImg" style="margin:15px;">
    <p>@item.Titulo</p>
    <a href="@Url.Action("Details", "Filmes", new { id = item.ID })">
        <img src="~/imagens/filmes/@item.Imagem" height="300" />
    </a>
</div>
}