@model CineRating.Models.Realizadores

@{
    ViewBag.Title = "Eliminar Realizador";
}


<h3>Tem a certeza que quer eliminar este realizador?</h3>
<div>
    <hr />
    @*Apresenta mensagens de erro*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        <h2>@Html.DisplayFor(model => model.Nome)</h2>
        <img src="~/imagens/realizadores/@Model.Imagem" height="300" />
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-default" href="@Url.Action("Index","Realizadores")">Cancelar</a>
        </div>
    }
</div>
