@model IEnumerable<CineRating.Models.Realizadores>

@{
    ViewBag.Title = "CineRating";
}

@using (Html.BeginForm()) {
    <div style="text-align:center">
        @Html.TextBox("pesq", "", new { @id = "nomeRealizador", @autocomplete = "off", @placeholder = "Pesquisar Realizadores", style = "width:500px; height:35px; max-width:none;" })
        <input type="submit" class="btn btn-default" value="Pesquisar" style="display:none;" />
    </div>
}


<div style="display:flex; flex-direction:row; flex-wrap:wrap;">
    @foreach (var item in Model) {
        <div style="text-align:center; width:280px;">
            <br />
            <p style="font-weight:bold; font-size:medium">@item.Nome</p>
            <a href="@Url.Action("Details", "Realizadores", new { id = item.ID })">
                <img src="~/imagens/realizadores/@item.Imagem" style="margin:15px; height:350px; width:250px; object-fit:cover;" />
            </a>
        </div>
    }
</div>


<link href="~/Content/themes/base/jquery-ui.css"
      rel="stylesheet"
      type="text/css" />


@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#nomeRealizador').autocomplete({
                source: '/Realizadores/GetRealizador'
            });
        });
    </script>
}
