@model CineRating.Models.Utilizadores

@{
    ViewBag.Title = "Details";
}



<div>



    <lbl class="control-label col-md-2" style="font-weight:bold">Email</lbl>


    @Html.DisplayFor(model => model.NomeUtilizador)
    <br />
    <lbl class="control-label col-md-2" style="font-weight:bold">Nome</lbl>

    @Html.DisplayFor(model => model.Nome)



</div>
<br />
<p>
    <a class="btn btn-default" href="@Url.Action("Edit","Utilizadores", new { id = Model.ID })">Editar</a>
    <a class="btn btn-default" href="@Url.Action("Index","Filmes")">Voltar</a>
</p>
